<!DOCTYPE html>
<html>
  <head>
    <title>Poteshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <a href="/">
          <img alt="ロゴ画像" src="/assets/logo.png">
        </a>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
