<!DOCTYPE html>
<html>
  <head>
    <title>Poteshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left-nav">
        <%= link_to image_tag("/assets/logo.png", class: "logo-img h-100"), "/" %>
        <%= form_for :rooms_search, method: :get do |form| %>
          <div class="header-search d-lg-inline-block d-none">
            <%= form.text_field :area, value: "", class: "form-control pl-4", placeholder: "エリア" %>
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="header-search d-lg-inline-block d-none">
            <%= form.text_field :keyword, value: "", class: "form-control pl-4", placeholder: "キーワード" %>
            <i class="fas fa-search"></i>
          </div>
          <%= form.submit "", class: "d-none" %>
        <% end %>
      </div>
      <div class="header-right-nav">
        <div class="nav-item">
          <%= link_to "ログイン", "/", class: "btn btn-primary my-2 mx-3" %>
          <%= link_to "登録する", "/",  class: "btn btn-secondary" %>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
